*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(57, 218, 17);
}


td{
    width: 130px;
    height: 130px;
    border: 4px solid black;
    position: relative;
    font-size:80px;
    text-align: center;
    color: brown;

    
}
table{
    top: 70%;
    left: 50%;
    position: relative;
    border-radius: 10px;
}
h1{
    text-align: center;
    color: brown;
    font-size: 70px;
}
#step{
    padding-left: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    color: rgb(255, 255, 255);


}
#step h3{
    color: rgb(255, 38, 0);
}
button{
    margin: 5px;
    font-size:larger
}
#step li{
    text-transform:uppercase;
}
